# Dependency directories
node_modules/

# Ignore log files
logs
*.log

# Ignore .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore MacOS-specific files
.DS_Store

# Ignore build outputs
dist/
build/
